body{
    
}
.payment form{
    

}

.form Header{
    
}

.missing fields{

}

.card-info {
    display: flex;
    justify-content: space-between;

    padding: 15px;
    margin: auto;
    
}

.pay-details{

}

.details-left{

}

div{
    
}

